body {
  font-family: sans-serif;
  padding: 1em 3em;
}

header {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgb(125, 125, 125)255, 226, 226) solid;
}

main {
  max-width: 1000px;
  margin: 20px auto 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
  padding: 10px;
  background: grey;
  color: white;
}

td {
  padding: 10px;
  border-collapse: collapse;
  background: white;
}

.ca-link {
  font-size: 15px;
  border-style: solid;
  margin: 0 20px 30px 20px;
  align-items: center;
  background-color: #dce7f3;
  padding: 10px;
  box-shadow: 1px 1px 2px #000000;
}

.total {
  text-align: right;
  background: transparent;
  font-weight: bold;
}

.user {
  font-size: 12px;
  margin: 20px;
}

.hello-container,
.shopping-container {
  border-style: solid;
  margin: 0 auto 20px;
  padding: 10px 20px 20px 10px;
  box-shadow: 1px 1px 2px #000000;
}

.key {
  margin-bottom: 13px;
}

.variable {
  padding: 5px 10px;
}

.string {
  background: #b1d0ef;
}

.number {
  background: #f1bdb1;
}

.boolean {
  background: #c3efd3;
}

.key > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.indicator {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1469bd;
  font-size: 2em;
  margin: 50px;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 5px;
}

p {
  margin-top: 20px;
}

h4 {
  font-size: 3em;
  font-family: "Courier New", Courier, monospace;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.red,
.orange,
.pink {
  background-color: red;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 3px;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

/* object */

.silva-container {
  margin: 30px auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 20px;
  box-shadow: 1px 1px 2px #000000;
}

.silva-container h2 {
  margin: 0 auto;
  padding: 20px;
}

.silva-img {
  object-fit: cover;
  height: 400px;
  width: 350px;
  margin: 0 auto;
}

.object-buttons {
  margin: 0 auto;
}

#button1,
#button2,
#button3,
#button4 {
  padding: 10px; 
  margin-right: 10px;
}


.icons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
#rain,
#flex,
#breath,
#reflect {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  padding-right: 10px;
  display: none;
}
